.ant-carousel .slick-slide {
    position: relative;
    text-align: center;
    line-height: 160px;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}

.pic1 {}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
}